

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
</head>
<body>
    <h1>Hilfe zur Steuerung des Spiels</h1>
    <p>Willkommen zur Hilfe-Seite! Hier finden Sie Anweisungen zur Steuerung des Spiels.</p>
    
    <h2>Hauptfunktionen:</h2>
    <ul>
        <li>Kategorienauswahl: Wählen Sie aus einer Vielzahl von Kategorien und beginnen Sie direkt mit dem Quiz.</li>
        <li>Fragen und Antworten: Jede Frage bietet vier Antwortmöglichkeiten, aus denen Sie wählen können.</li>
        <li>Detaillierte Rangliste: Nach Abschluss des Spiels erhalten Sie eine umfassende Rangliste, die Ihre Leistung genau dokumentiert.</li>
        <li>Anpassbare Inhalte: Erstellen Sie neue Kategorien und fügen Sie neue Fragen hinzu, um das Spiel Ihren Vorlieben anzupassen.</li>
    </ul>

   
</body>
</html>
