<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Quiz-Anwendung</title>
</head>
<body>
    <h1>Willkommen beim Quiz!</h1>
    {% if session['loggedin'] == True %}
        <p>Hallo {{ session['username'] }}!</p>
        <p>Was möchtest du tun?</p>
        <ul>
            <li><a href="{{ url_for('kategorien') }}">Spielen</a></li>
            <li><a href="{{ url_for('bearbeiten_fragen') }}">Fragen bearbeiten</a></li>
            <li><a href="{{ url_for('logout') }}">Abmelden</a></li>
        </ul>
    {% else %}
        <p>Bitte melde dich an, um mit dem Quiz zu beginnen.</p>
        <a href="{{ url_for('login') }}">Login</a>
        <br>
        <a href="{{ url_for('register') }}">Registrieren</a>
    {% endif %}
</body>
</html>