<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Fragenspiel</title>
</head>
<body>
    <h1>Fragenspiel</h1>
    <p>Kategorie: {{ kategorie_name  }}</p>
    <p>Frage: {{ frage[1] }}</p>
    <form action="/auswertung" method="post">
        <input type="radio" name="antwort_id" value="{{ frage[2] }}"> {{ frage[2] }}
        <input type="radio" name="antwort_id" value="{{ frage[3] }}"> {{ frage[3] }}
        <input type="radio" name="antwort_id" value="{{ frage[4] }}"> {{ frage[4] }}
        <input type="radio" name="antwort_id" value="{{ frage[5] }}"> {{ frage[5] }}
        <input type="submit" value="Absenden">
    </form>
</body>
</html>
